/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  /* background: url(football.jpg); */
  /* background-position: center; */
  /* position: absolute;  */
}
.main {
  height: 100%;
  width: 100%;
  background: url(football.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
}
.navbar {
  width: 1200px;
  height: 10px;
  /* margin: auto; */
  padding-left: 300px;
}

.icon {
  width: 100px;
  float: left;
  height: 50px;
}

.logo {
  color: forestgreen;
  font-size: 35px;
  padding-right: 100px;
  float: right;
  padding-top: 10px;
}
.logo a {
  color: ghostwhite;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: forestgreen;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid forestgreen;
  margin-top: 13px;
  color: ghostwhite;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 130px;
  height: 40px;
  background: forestgreen;
  border: 2px solid forestgreen;
  margin-top: 13px;
  color: ghostwhite;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.form-box {
  width: 350px;
  height: 520px;
  position: absolute;
  left: 570px;
  top: 40px;
  margin: 6% auto;
  background: ghostwhite;
  box-shadow: 0 0 20px forestgreen;
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 60px;
  color: black;
  font-weight: bold;

  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btnn {
  top: 0;
  left: 10px;
  position: absolute;
  width: 180px;
  height: 100%;
  background: forestgreen;
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons img {
  width: 40px;
  margin: 0 18px;
  box-shadow: 0 0 20px #7f7f7f3d;
  cursor: pointer;
  border-radius: 45%;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 220px;
  transition: 0.5s;
}
.input-field {
  width: 120%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.submit-btn {
  width: 120%;
  padding: 10px 100px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: forestgreen;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}

.userlogin {
  width: 120%;
  padding: 10px 50px;
  bottom: -50px;
  position: absolute;
  cursor: pointer;
  display: block;
  margin: auto;
  background: forestgreen;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}

.check-box {
  margin: 30px 15px 30px 10px;
}

span {
  color: black;
  font-size: 13px;
  bottom: 68px;
  position: absolute;
  font-weight: bold;
}
b {
  color: black;
  font-size: 13px;
  bottom: 71px;
  position: absolute;
  font-weight: bold;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}
